*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_headerImage{
  object-fit: contain;
  display: block;
  margin-right: auto;
  max-width: 160px;
}
.app{
  background-color: #fafafa;
}

.app_header{
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.popup_image{
  width: 160px;
}
.app_signup{
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
